@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import './vars.scss';

//
// Customize bulma
//
$black: #343434;
@import '~bulma';

//
// Global styles
//

html {
  height: 100%;
}
body, #__nuxt, #__layout {
  min-height: 100vh;
}

.navbar-item {
  text-transform: uppercase;
  font-size: 0.9rem;
}