@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// customize styles
$black: #343434;

@import '~bulma';



html {
  height: 100%;
}
body, #__nuxt, #__layout {
  min-height: 100vh;
}