
$light-grey: #f0f0f0;
$blue: #0084ff;

$primary: $blue;
$family-sans-serif: Poppins, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-weight: 800;
$body-size: 14px;